<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUgToJXV-VLC8tPl-tK4NEo2oSv04Pdho</string>
	<key>GCM_SENDER_ID</key>
	<string>415564274636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webappDemo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>easy-lesson</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-lesson.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415564274636:ios:269aa388a313b4e23adb69</string>
</dict>
</plist>